{{#each pattern.channels}}
<ul class="pattern">
    {{#each this}}
        {{#if (and
            (eq @index ../../activeStep)
            (eq @../index ../../activeChannel))}}
        <li class="active">
    {{else}}
        <li>
    {{/if}}
        {{#if this.action}}
            {{# if this.note}}
            <span class="note">
                {{this.note}} - {{this.octave}}
            </span>
            <span class="instrument">
                {{this.instrument}}
            </span>
            {{else}}
                <span class="note">//// OFF ////</span>
            {{/if}}
        {{else}}
            <span class="note empty">----</span>
            <span class="instrument">-</span>
        {{/if}}
        {{# if this.mp }}
            <span class="moduleParam">
                {{mparam this.mp}}
            </span>
            <span class="moduleValue">
                {{mvalue this.mp ../../../format}}
            </span>
        {{else}}
            {{#unless this.action}}
                <span class="moduleParam empty">---</span>
                <span class="moduleValue empty">---</span>
            {{else}}
                {{# if this.note}}
                    <span class="moduleParam empty">--</span>
                    <span class="moduleValue empty">--</span>
                {{/if}}
            {{/unless}}
        {{/if}}
        </span>
    </li>
    {{/each}}
</ul>
{{/each}}
