{{#each pattern.channels}}
<ul class="pattern">
    {{#each this}}
    <li class="{{toLowerCase this.instrument}}">
        {{#if this.action}}
            {{# if this.note}}
            <span class="note">
                {{this.note}} - {{this.octave}}
            </span>
            <span class="instrument">
                {{this.instrument}}
            </span>
            {{else}}
                //// OFF ////
            {{/if}}
        {{else}}
            ----
        {{/if}}
        {{# if this.mp }}
        <span class="moduleParam">
            {{this.mp.module }} {{ this.mp.value }} {{ this.mp.glide }}
        </span>
        {{/if}}
    </li>
    {{/each}}
</ul>
{{/each}}
