{{#each pattern.channels}}
<ul class="pattern">
    {{#each this}}
    <li class="{{toLowerCase this.sound}}">
        {{#if this.sound}}
            <span class="sound accent-{{this.accent}}">
                {{this.sound}}
            </span>
            {{# if this.note}}
            <span class="note">
                {{this.note}} - {{this.octave}}
            </span>
            {{/if}}
        {{else}}
            ----
        {{/if}}
    </li>
    {{/each}}
</ul>
{{/each}}
